@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.navbar-font-style {
    color: black !important;
}

.cahm-exp-banner-card {
   background-color: lightcyan;
    background-size: cover;
}

.cahm-exp-banner-text-card {
    text-align: center;

    color: rgb(122, 112, 112);
    background-color: transparent;
}
h3,h5{
    color:black;
}
.Theory-and-Experiment{
    background-color:lightgray ;
}
.mounting{
    display:grid;
    grid-gap:10px;
    grid-template-columns: repeat(2,1fr);
    padding:10px;
}
.middle{
    text-align: center;
}
.cold-mounting{
    border-radius: 10px;
    background-color: rgb(206, 228, 241);
}
.hot-mounting{
    border-radius: 10px;;
    background-color: rgb(206, 228, 241);
}

.navbar-logo {
    height: 50px;
}

.navbar-logo-heading {
    font-size: 20px;
    font-weight: 600;
}

.Contact-us-section {
    text-align: center;
}

.Contact-us-icon {
    font-size: 50px;
    margin-left: 20px;
    border-width: 1px;
    border-radius: 50px;
    padding: 20px;
    width: 94px;
    background-color: #c2d2ff;
}

.nitw-logo {
    height: 100px;
}

.Contact-us-bottom-section-para {
    font-weight: bold;
}

.Contact-us-icon-para {
    padding-left: 20px;
    font-weight: 500;
}